<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>
<body>
    <a href="/categories"><button>Categories</button></a>
    <a href="/books"><button>Books</button></a>
    <a href="/books/add"><button>Add Books</button></a>
    <h1>Add Book</h1>
    <form action="/books/add" method="post">
        Name : <input type="text" name="name" autocomplete="off"><br>
        Price : <input type="number" name="price" autocomplete="off"><br>
        Img Url : <input type="text" name="imgUrl" autocomplete="off"><br>
        Discount : 
        <input type="radio" name="isDiscount" value="1"> Yes
        <input type="radio" name="isDiscount" value="0"> No
        <br>
        Publisher : <input type="text" name="publisher" autocomplete="off"><br>
        Author : <input type="text" name="author" autocomplete="off"><br>
        Synopsis : <br><textarea name="synopsis" cols="30" rows="10"></textarea><br>
        Category : <select name="CategoryId" id="">
            <% for(let el of categories){ %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% } %>
        </select>
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>