<%- include('partials/navbar', { title : 'Category List'}) %>

    <h1>Category List</h1>
    <table border="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>

        <% for(let el of categories){%>
            <tr>
                <td><%= el.id %></td>
                <td><%= el.name %></td>
            </tr>
        <% } %>

    </table>

<%- include('partials/footer') %>